<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intalker.borrow"
    android:versionCode="1"
    android:versionName="1.0" >
    
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
	
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.tencent.tauth.TAuthView" 
            android:launchMode="singleTask" 
            android:configChanges="keyboardHidden|navigation|orientation">
		    <intent-filter>  
		        <action android:name="android.intent.action.VIEW" />  
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="auth"/>  		
		    </intent-filter>  
		</activity>
		
        
        <service android:enabled=false
        		android:exported=false
         		android:isolatedProcess=true
         		android:label="borrow.services.NotificationServices"
         		android:name="com.intalker.borrow.services.NotificationServices"
         		android:process="com.intalker.borrow.services" >
		</service>
    </application>

</manifest>